/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";

* { box-sizing: border-box }

body {
  font-family: 'Coming Soon', cursive;
  transition: background 1s ease;
   background: #fe001a;
   color:#fff;
    text-align:center;
    background-image: url('https://subtlepatterns.com/patterns/geometry2.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: forwards;

 }
 @-webkit-keyframes backgroundScroll {
 from {background-position: 0 0;}
 to {background-position: -180px 0px;}
 }
 @keyframes backgroundScroll {
 from {background-position: 0 0;}
 to {background-position: -180px 0px;}

 }
  h1{
  font-family: 'Molle', cursive;
  text-align: left;
  color: #WHITE;
  font-size:2em;
  margin-top:1em;
  margin-left: 900px;
  transform: skew(4.5deg, 163.3deg);
  padding right:200px;
}

h3{
font-family: 'Molle', cursive;
text-align: left;
color: white;
font-size:1.5em;
transform: skew(3.8deg, 173.5deg);
padding right:300px;
}


 #circle {
      width: 50px;
      height: 50px;
      padding-right:20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
    }

p {
  font-size: 1em;
  text-align: left;
}

span {
  clear: both;
  font-size:1.2em;
  font-family: 'Molle', cursive;


}

a {
  color: #fe001a;
  text-decoration: none;
}

  .inside {
    display: table;
    height: 100%;
    width: 100%;
    padding: 0 3em;
    background:#fe001a;
  }

    p {
      display: table-cell;
      width: 100%;
      clear: both;
      vertical-align: middle;
      text-align:center;
      font-size: 20px;
      border-bottom: 30px;
        color:WHITE;
}
